// To get started, press Ctrl+Space (or Option+Esc) to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

/ {
  aliases {
    vslow = &vslow;
    vfast = &vfast;
    heartbeat= &led0;
    buzzer= &led1;
    ivdrip= &led2;
    alarm= &led3;
    error= &led4;
    button0= &button0;
    button1= &button1;
    button2= &button2;
    button3= &button3;
    drv1 = &drv1;
    drv2 = &drv2;
  };
  zephyr,user {
    io-channels = <&adc 0>, <&adc 1>; // need to "activate" these channels for IO usage
  };
  leds {
    compatible = "gpio-leds";
    led4: led_4 {        
      gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
      label = "Green LED 4";
    };
  };
  pwm_motor {
    compatible = "pwm-leds";
    drv1: drv_1 {
    pwms = < &pwm0 0 PWM_MSEC(1) PWM_POLARITY_INVERTED>; // 0 - channel
    label = "MOTOR DRIVE 1";
    };
    drv2: drv_2 {
    pwms = < &pwm0 1 PWM_MSEC(1) PWM_POLARITY_INVERTED>; // 1 - channel
    label = "MOTOR DRIVE 2";
    };
  };
};
&adc {
  #address-cells = <1>;
  #size-cells = <0>;

  vslow: channel@0 {
  reg = <0>; // channel number
  zephyr,reference = "ADC_REF_INTERNAL"; // voltage ref for SA (0.6 V)
  zephyr,gain = "ADC_GAIN_1_5"; // gain factor to scale ref voltage (1/gain)
  zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
  zephyr,input-positive = <NRF_SAADC_AIN0>; // P0.02
  zephyr,resolution = <8>; // bit depth
  };
  vfast: channel@1 {
    reg = <1>; // channel number
    zephyr,reference = "ADC_REF_INTERNAL"; // voltage ref for SA (0.6 V)
    zephyr,gain = "ADC_GAIN_1_5"; // gain factor to scale ref voltage (1/gain)
    zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
    zephyr,input-positive = <NRF_SAADC_AIN1>; // P0.03
    zephyr,resolution = <12>; // bit depth
  };
  status = "okay"; // enable the ADC
};
&pwm0 {
  compatible = "nordic,nrf-pwm";
  reg = <0x4001c000 0x1000>;
  interrupts = <28 NRF_DEFAULT_IRQ_PRIORITY>;
  status = "okay";
  #pwm-cells = <3>;
  pinctrl-0 = <&pwm0_default>;
  pinctrl-1 = <&pwm0_sleep>;
  pinctrl-names = "default", "sleep";
};
&pinctrl {
  compatible = "nordic,nrf-pinctrl";
  status = "okay";
  pwm0_default: pwm0_default {
    group1 {
      psels = <NRF_PSEL(PWM_OUT0, 0, 15)>, // P0.15, channel 0
      <NRF_PSEL(PWM_OUT1, 0, 14)>; // P0.14, channel 1
      nordic,invert;
    };
  };
  pwm0_sleep: pwm0_sleep {
    group1 {
      psels = <NRF_PSEL(PWM_OUT0, 0, 15)>, // P0.15, channel 0
      <NRF_PSEL(PWM_OUT1, 0, 14)>; // P0.14, channel 1
      low-power-enable;
    };
  };
};



